안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [ ]:
#for문
x = 2
n = 5

for x in range(1, n+1):
    num_list = x + x
    print([num_list])

#while문
x = 2

while x <= 10:
    print([x], end=' ') #가로로 출력해보기
    x += 2

[2]
[4]
[6]
[8]
[10]
[2] [4] [6] [8] [10]

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [ ]:
phone_number = "01012347890"              #변수 선언
front_number = phone_number[:7]           #[:-4]도 가능
hidden_number = "****"                    #뒷4자리 표기할 변수
final_number = front_number+hidden_number #난잡해..

print(final_number)

print(phone_number[:7] + "****")  #간결하게 인덱스 + 문자열

0101234****
0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [ ]:
s = "77three4one"  #변수 선언

num_dict = {       #딕셔너리 생성
    "zero": "0",   #key를 영문 : value를 숫자로 배치
    "one": "1",
    "two": "2",
    "three": "3",
    "four": "4",
    "five": "5",
    "six": "6",
    "seven": "7",
    "eight": "8",
    "nine": "9"
}

for k, v in num_dict. items():  #k=key / v=value
    s = s.replace(k,v)

print(s)

77341

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [ ]:

arr1 = [[1, 2], [2, 3]]
arr2 = [[3, 4], [5, 6]]

result =[[arr1[0][0]+arr2[0][0] , arr1[0][1]+arr2[0][1]] , 
         [arr1[1][0]+arr2[1][0] , arr1[1][1]+arr2[1][1]]
        ]

print(result)

#1. 문제 이해 못함
#2. 구글링으로 row, columns 속성 이해하기 문서 참조
#3. 행렬개념 이해함
#4. 연산을 통한 풀이방법이 있을텐데 잘 떠오르지 않음

[[4, 6], [7, 9]]

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [ ]:
x = 17   #변수 선언

A = list(map(int,str(x))) # x를 양의 정수로 형변환 자릿수를 구함

result = x % sum(A) == 0 # 하샤드 수 인지 검증

print(x, result)

x=17   #변수 선언
A = 1+7  #자릿수 합
B = x%A  #나머지 수 구함
C = B == 0  #하샤드 수 인지 검증

print(x, C)

17 False
17 False

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [ ]:
seoul = ["Jane", "Kim"]  #인덱스 값 Jane = 0 / Kim = 1

print(f"김서방은 {seoul.index('Kim')}에 있다.")

#1. 문제 정확히 이해 못함
#2. 출력 예시문을 보고 역추론하여 코딩
#3. 출력은 성공했지만, 이게 맞나..?

김서방은 1에 있다.

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [ ]:
# 0~9중 numbers에 없는 수를 찾아 합산하여라

numbers = [5,8,1,0,6,9]          # 변수 선언
                                 # 교집합,합집합,차집합 개념을 통해 문제 접근
s1 = set([0,1,2,3,4,5,6,7,8,9])  # 문제에 제시된 0부터9를 set1로 생성
s2 = set(numbers)                #set2는 문제에서 제시된 numbers 사용

s3 = s1 - s2                     # 차집합을 사용해 s3 = {2,3,4,7} 찾아냄

result = sum(s3)                 # 이제 얘네를 더하기만 하면 됨

print(result)

16